<!DOCTYPE html>
<html>

<head>
    <title>Create Page</title>
</head>

<body>
    <h1>Creage record</h1>
    <br><br>
    <p>Fill the Form to Create record and employee id should be unique.</p>
    <form action="/createForm" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age"><br>
        <label for="occupation">occupation:</label><br>
        <input type="text" id="occupation" name="occupation"><br>
        <label for="empid">Employee ID:</label><br>
        <input type="text" id="empid" name="empid"><br>
        <br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>