<!DOCTYPE html>
<html>

<head>
    <title>CRUD Home</title>
</head>

<body>
    <h1>HOMEPAGE</h1>
    h2 = title
    <p>this is basic crud app<p>
    <button onclick="window.location.href = 'http://127.0.0.1:3000/read';" id="read" class="read">read</button>
    <button onclick="window.location.href = 'http://127.0.0.1:3000/create';" id="create" class="create">create</button>
    <button onclick="window.location.href = 'http://127.0.0.1:3000/update';" id="update" class="update">update</button>
    <button onclick="window.location.href = 'http://127.0.0.1:3000/delete';" id="delete" class="delete">delete</button>
</body>

</html>