<!DOCTYPE html>
<html>

<head>
    <title>Update Page</title>
</head>

<body>

    <h1>Update Record.</h1>
    <br><br>
    <p>record will get updated according to employee id.please provide correct employee id below to update the record</p>
    <form action="/UpdateForm" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age"><br>
        <label for="occupation">occupation:</label><br>
        <input type="text" id="occupation" name="occupation"><br>
        <label for = "empid">Employee ID:</label><br>
        <input type = "text" id="empid" name="empid"><br>
        <br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>
